@media screen and (max-width: 480px) {
    #nav-header {
        margin: 0;
    }

    #section-inicio {
        text-align: center;
        height: auto;
        width: 100%;
        margin: 2em 0;
    }
    .nome {
        display: none;
    }

    #foto-sec-inicio {
        width: 300px;
    }

    #paragrafo-sec-inicio {
        font-size: 1.4em;
    }

    #link-saber-mais {
        font-size: 1.2em;
        padding: 1em 28vw;
    }

    #section-apresentando {
        flex-direction: column-reverse;
        margin: 6em auto;
        gap: 1em;
        width: 100%;
    }

    #sec-apresentando-sub-parag-botao {
        text-align: left;
    }

    #sec-apresentando-subtitulo {
        font-size: 3em;
    }

    #sec-apresentando-paragrafo {
        font-size: 1.2em;
        letter-spacing: .8px;
        line-height: 1.2em;
        margin: .8em 0 2em;
    }

    #link-whatsapp {
        border-radius: 5px;
        padding: 1.2em 15vw;
    }

    #sec-apresentando-imagens {
        text-align: center;
    }

    #sec-apresentando-imagens img:nth-child(n+2) {
        display: none;
    }

    #section-sobre-mim {
        margin: 4em auto 6em;
        width: 100%;
    }

    #foto-e-paragrafo-sobre-mim {
        display: flex;
        flex-direction: column;
        margin: 0 0 2em;
        gap: 1em;
    }

    #subtitulo-sobre-mim {
        font-size: 3em;
        color: var(--cor-secundária);
    }

    #foto-sobre-mim {
        width: 300px;
    }

    #paragrafo-evolucao {
        color: var(--cor-principal);
        font-size: 2em;
    } 

    .swiper {
        height: fit-content;
        width: 90%;
        max-width: 1800px;
    }
    
    .swiper-slide {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-img img {
        width: 100%;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        color: var(--cor-secundária) !important;
        font-size: 1.2em !important;
    }

    #cards {
        margin: 2em 0;
    }

    #beneficios-subtitulo {
        font-size: 2em;
        margin: 0em;
    }

    #link-whatsapp-beneficios{
        max-width: 100%;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #nav-header {
        gap: 10em;
    }

    #section-inicio {
        text-align: center;
        height: auto;
        width: 100%;
    }
    .nome {
        display: none;
    }

    #foto-sec-inicio {
        width: 300px;
    }

    #paragrafo-sec-inicio {
        font-size: 1.4em;
    }

    #link-saber-mais {
        font-size: 1.3em;
        padding: .8em 28vw;
    }

    #section-apresentando {
        flex-direction: column-reverse;
        margin: 7em auto 5em;
        gap: 2em;
        text-align: center;
        width: 100%;
    }

    #sec-apresentando-subtitulo {
        font-size: 3em;
    }

    #sec-apresentando-paragrafo {
        font-size: 1.3em;
        letter-spacing: .8px;
        line-height: 1.3em;
        margin: 1em 0 1.5em;
    }

    #link-whatsapp {
        border-radius: 5px;
    }

    #sec-apresentando-imagens {
        text-align: center;
    }

    #sec-apresentando-imagens img:nth-child(n+2) {
        display: none;
    }

    #section-sobre-mim {
        margin: 4em auto;
        width: 100%;
    }

    #foto-e-paragrafo-sobre-mim {
        display: flex;
        flex-direction: column;
        margin: 0 0 2em;
        gap: 1em;
    }

    #paragrafo-sobre-mim {
        letter-spacing: 1px;
        line-height: 1.3em;
    } 

    #subtitulo-sobre-mim {
        font-size: 3em;
        color: var(--cor-secundária);
    }

    #foto-sobre-mim {
        width: 300px;
    }

    #paragrafo-evolucao {
        color: var(--cor-principal);
        font-size: 2.2em;
    } 

    .swiper {
        height: fit-content;
        width: 90%;
        max-width: 1800px;
    }
    
    .swiper-slide {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-img img {
        width: 90%;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        color: var(--cor-secundária) !important;
        font-size: 2em !important;
    }

    #cards {
        margin: 2em 0;
    }
    
    #beneficios-subtitulo {
        font-size: 2em;
        margin: 0em;
    }

    #link-whatsapp-beneficios{
        max-width: 100%;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #nav-header {
        gap: 10em;
    }

    #section-inicio {
        text-align: center;
        height: auto;
    }
    .nome {
        /* display: none; */
        font-size: 4.5em;
    }

    #foto-sec-inicio {
        width: 300px;
    }

    #paragrafo-sec-inicio {
        font-size: 1.4em;
    }

    #link-saber-mais {
        font-size: 1.3em;
        padding: .8em 15vw;
    }

    #section-apresentando {
        margin: 5em auto;
        gap: 2em;
        flex-direction: column-reverse;
    }

    #sec-apresentando-sub-parag-botao {
        max-width: 750px;
        width: 90%;
    }

    #sec-apresentando-subtitulo {
        font-size: 3em;
        text-align: center;
    }

    #sec-apresentando-paragrafo {
        font-size: 1.4em;
        letter-spacing: .8px;
        line-height: 1.2em;
        margin: .8em 0 2em;
        text-align: center;
    }

    a#link-whatsapp {
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    #sec-apresentando-imagens {
        text-align: center;
    }

    .icones-sec-apresentando {
        display: none;
    }

    #section-sobre-mim {
        margin: 5em auto;
    }

    #foto-e-paragrafo-sobre-mim {
        display: flex;
        flex-direction: column;
        margin: 0 0 2em;
        gap: 1em;
    }

    #paragrafo-sobre-mim {
        letter-spacing: 1px;
        line-height: 1.3em;
    } 

    #subtitulo-sobre-mim {
        font-size: 3em;
        color: var(--cor-secundária);
    }

    #foto-sobre-mim {
        width: 300px;
    }

    #paragrafo-evolucao {
        color: var(--cor-principal);
        font-size: 2.3em;
    } 

    .swiper {
        height: fit-content;
        width: 90%;
        max-width: 1800px;
    }
    
    .swiper-slide {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-img img {
        width: 90%;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        color: var(--cor-secundária) !important;
        font-size: 2.5em !important;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    #nav-header {
        gap: 10em;
    }

    #section-inicio {
        text-align: center;
    }
    .nome {
        /* display: none; */
        font-size: 6em;
    }

    #foto-sec-inicio {
        width: 350px;
    }

    #paragrafo-sec-inicio {
        font-size: 1.5em;
        max-width: 800px;
    }

    #link-saber-mais {
        font-size: 1.3em;
        padding: .8em 10vw;
    }

    #section-apresentando {
        margin: 7em auto 0;
        gap: 2em;
    }

    #sec-apresentando-subtitulo {
        font-size: 3em;
        text-align: left;
    }

    #sec-apresentando-paragrafo {
        font-size: 1.4em;
        letter-spacing: .8px;
        line-height: 1.2em;
        margin: .8em 0 2em;
    }

    #link-whatsapp {
        border-radius: 5px;
        padding: 1.2em 2em;
    }

    #sec-apresentando-imagens {
        text-align: center;
    }

    #section-sobre-mim {
        margin: 7em auto;
    }

    #foto-e-paragrafo-sobre-mim {
        display: flex;
        margin: 0 0 2em;
        gap: 1em;
    }

    #paragrafo-sobre-mim {
        letter-spacing: 1px;
        line-height: 1.3em;
    } 

    #subtitulo-sobre-mim {
        font-size: 3em;
        color: var(--cor-principal);
        margin: 1em 0;
    }

    #foto-sobre-mim {
        width: 300px;
    }

    #paragrafo-evolucao {
        color: var(--cor-secundária);
        font-size: 2.3em;
    } 

    .swiper {
        height: fit-content;
        width: 90%;
        max-width: 1800px;
    }
    
    .swiper-slide {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-img img {
        width: 90%;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        color: var(--cor-secundária) !important;
        font-size: 2.5em !important;
    }
} 

/* Media query especifíca para o menu responsivo:  */
@media screen and (max-width: 768px) {
    #header-logo-tela-pequena {
        display: block;
    }

    #icone-menu {
        display: block;
        font-size: 2em;
        color: var(--cor-principal);
    }

    #nav-header {
        height: 4em;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0 1em;
    }

    #ul-nav-header {
        margin: 4em 0;
        padding: 3em 0 4em;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
        filter: blur(2px);
        background-color: var(--bg-color);
        position: fixed;
        left: 0;
        top: -1px;
        transition: 1s ease;
    }
    
    #ul-nav-header.active {
        background-color: var(--bg-color);
        opacity: 1;
        filter: blur(0);
        pointer-events: all;
        transform: translateX(0);
    }

    #header-logo {
        display: none;
    }

    #ul-nav-header {
        flex-direction: column;
    }
}
