* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

:root {
    --bg-color: #1b1b1b;
    --cor-principal: #3964c8;
    --cor-secundária: #fff;
    --cor-hover-botoes: #153788;
    --cor-bg-light-mode: #e0e0e0;
}

#body {
    background-color: var(--bg-color);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

#body.active {
    background-color: var(--cor-bg-light-mode);
}

.textLightMode.active {
    color: var(--bg-color) !important;
    font-weight: 700 !important;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    height: 73px;
    position: sticky;
    box-shadow: 1px 1px 10px #ffffff21;
    width: 100%;
    right: 0;
    top: 0;
    background-color: var(--bg-color);
    z-index: 999999999999999999;
}

#header-logo-tela-pequena {
    display: none;
}

#header-logo-tela-pequena {
    font-weight: bold;
    font-size: 3em;
}

#header-logo-tela-pequena a {
    text-decoration: none;
    color: var(--cor-principal);
}

#ul-nav-header {
    display: flex;
    gap: 4em;
    align-items: center;
    z-index: 9999999;
}

#ul-nav-header li {
    list-style: none;
    & {
        .links-navegacao-header:hover {
            color: rgb(172, 172, 172);
            transition: .5s ease;
        }
    }
}

.links-navegacao-header {
    color: var(--cor-secundária);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

#header-logo {
    font-weight: bold;
    font-size: 3em;
}

#header-logo a {
    text-decoration: none;
    color: var(--cor-principal);
}

#icone-menu {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#btnLightMode {
    color: var(--cor-principal);
    border: none;
    background-color: transparent;
    font-size: 1.3em;
    cursor: pointer;
}

#section-inicio {
    height: calc(100vh - 73px);
    background-image: url(../imagens/bg-sec-inicio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
}

#container-elementos {
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden !important;
    padding: 0 0 4em; 
}

#elementos-inicio {
    width: 90%;
    max-width: 750px;
    margin-right: 23em;
}

#foto-sec-inicio {
    width: 90%;
    max-width: 600px;
    display: none;
}

#paragrafo-sec-inicio {
    color: var(--cor-secundária);
    font-size: 2.5em;
    width: 90%;
    max-width: 1000px;
    font-weight: bold;
    letter-spacing: 1px;
}

#infos-sec-inicio {
    color: #cfcfcf;
    margin: 1.2em 0 2.2em;
    font-weight: normal;
    width: 60%;
    font-size: 1.5em;
}

#link-saber-mais {
    background-color: var(--cor-principal);
    color: var(--cor-secundária);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.3em;
    padding: .8em 7em;
    box-shadow: 5px 5px 44px -12px rgba(255, 255, 255, 0.418);
    transition: .5s ease;
}

#link-saber-mais:hover {
    background-color: var(--cor-hover-botoes);
    scale: 1.05;
}

#section-apresentando {
    width: 90%;
    max-width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 10em auto;
}

#sec-apresentando-sub-parag-botao {
    max-width: 500px;
    width: 90%;
}

#sec-apresentando-subtitulo {
    color: var(--cor-principal);
    font-size: 4em;
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.185);
}

#sec-apresentando-paragrafo {
    color: #cfcfcf;
    margin: 1.2em 0;
    font-weight: normal;
    width: 100%;
    font-size: 1.5em;
}

a#link-whatsapp {
    width: 100%;
    display: block;
}

#link-whatsapp {
    background-color: var(--cor-principal);
    color: var(--cor-secundária);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding: 1.2em 0;
    box-shadow: 5px 5px 44px -12px rgba(255, 255, 255, 0.418);
    text-align: center;
    width: 100%;
    transition: .5s ease;
}
#link-whatsapp:hover {
    background-color: var(--cor-hover-botoes);
    /* scale: 1.05; */
}
.icone-whatsapp {
    padding-left: 1em;
    font-size: 1.2em;
}

#sec-apresentando-imagens {
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.icones-sec-apresentando {
    width: 170px;
    margin: .5em;
    border-radius: 100%;
    box-shadow: 0px 0px 44px -12px #3964c8a8;
}

.icones-sec-apresentando:hover {
    box-shadow: 0px 0px 60px -12px #3964c8a8;
}

#section-sobre-mim {
    width: 90%;
    max-width: 1800px;
    margin: 10em auto 6em;
    overflow: hidden !important;
}

#subtitulo-sobre-mim {
    color: var(--cor-principal);
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 .2em;
    z-index: 9999 !important;
}

#foto-e-paragrafo-sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2em;
    gap: 3em;
}

#foto-sobre-mim {
    width: 90%;
    max-width: 400px;
}

.paragrafo-sobre-mim {
    width: 90%;
    max-width: 600px;
    color: var(--cor-secundária);
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 1.2em;
    overflow-x: hidden;
    text-align: justify;
    margin: 0 auto;
}   

#container-paragrafos {
    background-color: var(--cor-principal);
    padding: 1.8em;
    border-radius: 5px;
    margin-left: 1em;
    width: 90%;
    max-width: fit-content;
}

#paragrafo-evolucao {
    color: var(--cor-secundária);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.185);
}

.swiper {
    height: 500px;
    width: 1200px;
    max-width: 100vw;
    overflow-x: hidden;
}

.imagens-evolucao {
    border-radius: 10px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-css-mode>.swiper-wrapper {
    border-radius: 10px;
}

#section-beneficios {
    width: 90%;
    max-width: 1800px;
    margin: 4em auto;
}

#beneficios-subtitulo {
    font-size: 2.5em;
    text-align: center;
    color: var(--cor-secundária);
}

#cards {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: 4em auto;
    max-width: 1200px;
}

.cards-beneficios {
    color: var(--cor-secundária);
    background-color: var(--cor-principal);
    flex: 1 1 300px; 
    padding: 1em 2.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 30px -12px rgba(255, 255, 255, 0.288);
    transition: .8s ease !important;
}

#cards:has(.cards-beneficios:hover) .cards-beneficios:not(:hover) {
    opacity: .2;
}

.icones-beneficios {
    font-size: 4em;
    margin: .4em 0;
}

.subtitulo-cards {
    font-size: 1.5em;
    margin: .4em 0;
    position: relative;
}

.subtitulo-cards {
    font-size: 1.5em;
    margin: .4em 0;
    position: relative;
}

.paragrafo-cards {
    font-size: 1em;
    margin: 1em 0;
    color: rgb(240, 247, 255);
}

#link-whatsapp-beneficios{
    background-color: var(--cor-principal);
    color: var(--cor-secundária);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding: 1.1em 2em;
    display: block;
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
    box-shadow: 5px 5px 44px -12px rgba(255, 255, 255, 0.418);
    transition: .5s ease;
}

#link-whatsapp-beneficios:hover {
    background-color: var(--cor-hover-botoes);
}

#section-perguntas-frequentes {
    margin: 6em auto;
    width: 100%;
    max-width: 1800px;
}

#subtitulo-faq {
    text-align: center;
    font-size: 2.5em;
    color: var(--cor-secundária);
    margin: 2em 0 1em;
}

.perguntas-e-respostas {
    background-color: var(--cor-principal);
    color: var(--cor-secundária);
    padding: 0 2em;
    border-radius: 5px;
    max-width: 700px;
    width: 90%;
    margin: 1em auto;
}

.pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.paragrafo-pergunta {
    font-size: 1.3em;
    padding: .8em .5em .8em 0 ;
}

.paragrafo-resposta {
    opacity: 0;
    pointer-events: none;
    max-height: 0;
    overflow: hidden;
    transition: .5s ease;
}
.paragrafo-resposta.active {
    color: var(--cor-secundária);
    font-size: 1em;
    border-top: 1px solid white;
    padding: 1em 0;
    opacity: 1;
    pointer-events: all;
    max-height: 100px;
}

#possui-duvida {
    font-size: 2em;
    color: var(--cor-secundária);
    text-align: center;
    margin: 1.5em 0 1em;
}

#link-whatsapp-perguntas {
    background-color: var(--cor-principal);
    color: var(--cor-secundária);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    padding: 1.1em 2em;
    display: block;
    text-align: center;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 44px -12px rgba(255, 255, 255, 0.418);
    transition: .5s ease;
}

#link-whatsapp-perguntas:hover {
    background-color: var(--cor-hover-botoes);
}

#footer {
    background-color: var(--bg-color);
    color: var(--cor-secundária);
    text-align: center;
    padding: 1.5em;
    box-shadow: 0px 0px 10px #ffffff21;
}

#footer p {
    font-size: 1.1em;
}

#footer a {
    color: var(--cor-principal);
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

